@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import 'scss/nullstyle';
@import 'scss/_header.scss';
@import 'scss/_input.scss';
@import 'scss/_filter.scss';
@import 'scss/_main.scss';
@import 'scss/_itemPage.scss';
@import 'scss/_gallery.scss';
@import 'scss/modal-window';
@import 'scss/_imagePopup.scss';
@import 'scss/_cart.scss';
@import 'scss/_footer';
@import 'scss/_error-page.scss';

body {
  font-family: 'Didact Gothic', sans-serif;
  background-color: #fafafa;
}
.container {
  width: 1185px;
  margin: 0 auto;
}
.main {
  margin-top: 30px;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  width: 100%;
}
@media (max-width: 1300px) {
  .container {
    width: 830px;
  }
}
@media (max-width: 850px) {
  .container {
    max-width: 500px;
  }
}
@media (max-width: 520px) {
  .container {
    max-width: 300px;
  }
}

#promo-label {
  font-size: 20px;
}
