.subtitle {
  font-size: 24px;
  cursor: default;
}
.button {
  background-color: #ff630b;
  padding: 3px 10px;
  font-size: 14px;
  color: white;
  cursor: pointer;
}
.main-page {
  display: flex;

  &__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px 0 10px;
  }

  &__allSort {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  &__configuratin {
    display: flex;
    gap: 5px;
    cursor: pointer;
  }

  &__small-configuration {
  }

  &__big-configuration {
  }

  &__sort {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  &__sort-tittle {
    font-size: 24px;
  }

  &__sort-selector {
    position: relative;
    margin-top: 3px;
    gap: 3px;
    display: flex;
    flex-direction: column;
    overflow: visible;
    width: 100px;
    height: 28px;
    font-size: 24px;
    color: #ff630b;
    z-index: 3;
    overflow: hidden;
    transition: all 0.5s;
  }
  &__button-container {
    display: flex;
    cursor: pointer;
  }
  &__sort-item {
    cursor: pointer;
    background: #f8f8f8;
    height: 30px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-left: 3px solid #ff630b;
  }

  &__sort-direction {
  }
  &__sort-img {
    width: 5px;
    height: 5px;
    margin-top: 7px;
  }

  &__results {
    font-size: 24px;
  }
}
.mirror {
  transform: scale(1, -1);
}
