.modal {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #0e1015b6;
  position: fixed;
  z-index: 3;

  &__window {
    transition: all 0.3s ease-out;
    position: relative;
    width: 696px;
    height: 589px;
    margin: 0 auto;
    //top: -70%;
    top: 15%;
    background-color: white;
    border-radius: 10px;
    padding: 20px 34px;
  }

  &__close-button {
    position: absolute;
    top: 22px;
    right: 22px;
  }

  &__group-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 35px;
  }
  &__title {
    font-size: 32px;
    color: #494949;
  }
  &__input-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  &__input-text-container {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 13px;
  }
  &__input-title {
    font-size: 16px;
    color: #808080;
  }
  &__input {
    border: 2px solid #dddddd;
    border-radius: 5px;
    height: 28px;
    font-size: 20px;
    padding-bottom: 2px;
    padding-left: 10px;
  }
  &__input-img {
    width: 28px;
    height: 22px;
    position: absolute;
    right: 7px;
    top: 33px;
  }

  &__input-tel {
    width: 265px;
  }
  &__input-name,
  &__input-email {
    width: 306px;
  }
  &__input-city {
    width: 240px;
  }
  &__input-address {
    width: 240px;
  }
  &__input-apt {
    width: 100px;
  }
  &__input-card {
    width: 270px;
  }
  &__input-valid {
    width: 80px;
  }
  &__input-cvv {
    width: 68px;
  }
  &__button-text {
    color: white;
    font-size: 24px;
  }
  &__button {
    margin: 0 auto;
    width: 234px;
    height: 49px;
    border: 2px solid #0671bf;
    border-radius: 5px;
    background-color: #245aab;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.validInput {
  border: 2px solid #00b754;
}
.invalidInput {
  border: 2px solid #ee3131;
}
.valid {
  color: #00b754;
}
.invalid {
  color: #ee3131;
}

.popUpActive {
  top: 15%;
}
